In [26]:
import json
train_rel_fre_dict = {}
# file2 = open("nyt10_test_NA.txt", 'w', encoding = 'utf-8')
with open("nyt10_test_NA.txt", 'r', encoding = 'utf-8') as f:
    # for line in f.readlines():
    line = f.readlines()[0]
    temp = json.loads(line)
        # if temp['relation'] == 'NA':
        #     file2.write(line)

In [34]:
import pandas as pd
with open("nyt10_val_NA.txt", 'r', encoding = 'utf-8') as f:
    df = pd.DataFrame(columns=["text","relation","h","t"])
    for line in f.readlines():
        temp = pd.read_json (line)
        df = df.append(temp)
        print(temp)
# df.to_csv ("nyt10_test_NA.csv", index = None)
df.to_csv ("nyt10_val_NA.csv")

                                          h  \
id    /guid/9202a8c04000641f80000000000e8a37
name                              Hicksville
pos                               [140, 150]

                                           t
id    /guid/9202a8c04000641f80000000000e3ac5
name                              Brookhaven
pos                                 [83, 93]
                                                   text relation  \
id    The fastest growing areas for immigrant popula...       NA
name  The fastest growing areas for immigrant popula...       NA
pos   The fastest growing areas for immigrant popula...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000e8a37
name                              Hicksville
pos                               [140, 150]

                                           t
id    /guid/9202a8c04000641f80000000000e3ac5
name                              Brookhaven
pos                                 [83, 93]
                                                   text relation  \
id    The fastest growing areas for immigrant popula...       NA
name  The fastest growing areas for immigrant popula...       NA
pos   The fastest growing areas for immigrant popula...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000e8a37
name                              Hicksville
pos                               [140, 150]

                                           t
id    /guid/9202a8c04000641f80000000000e3ac5
name                              Brookhaven
pos                                 [83, 93]
                                                   text relation  \
id    The Jewish Museum will focus on the work of ar...       NA
name  The Jewish Museum will focus on the work of ar...       NA
pos   The Jewish Museum will focus on the work of ar...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000021bfa
name                              Jack Kirby
pos                                 [57, 67]

                                           t
id    /guid/9202a8c04000641f80000000002a9166
name                         Harvey Kurtzman
pos                               [155, 170]
                                                   text relation  \
id    Not on trips to Europe or South America , not ...       NA
name  Not on trips to Europe or South America , not ...       NA
pos   Not on trips to Europe or South America , not ...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000003507d
name                           South America
pos                                 [26, 39]

                                           t
id    /guid/9202a8c04000641f800000000002b60d
name                              New Jersey
pos                                [98, 108]
                                                   text relation  \
id    Results were based on responses from 1,106 adu...       NA
name  Results were based on responses from 1,106 adu...       NA
pos   Results were based on responses from 1,106 adu...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000025072
name                             Long Island
pos                                 [53, 64]

                                           t
id    /guid/9202a8c04000641f80000000000bb0b1
name                               Fairfield
pos                               [183, 192]
                                                   text relation  \
id    In Montclair and Rahway in New Jersey , Fairfi...       NA
name  In Montclair and Rahway in New Jersey , Fairfi...       NA
pos   In Montclair and Rahway in New Jersey , Fairfi...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000025072
name                             Long Island
pos                                [95, 106]

                                           t
id    /guid/9202a8c04000641f80000000000bb0b1
name                               Fairfield
pos                                 [40, 49]
                                                   text relation  \
id    There have been novels that have successfully ...       NA
name  There have been novels that have successfully ...       NA
pos   There have been novels that have successfully ...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000002ec882
name                         Jonathan Lethem
pos                               [133, 148]

                                           t
id    /guid/9202a8c04000641f8000000000038f46
name                             Saul Bellow
pos                               [182, 193]
                                                   text relation  \
id    -LRB- Holden -RRB- ` HOW TO EAT FRIED WORMS ' ...       NA
name  -LRB- Holden -RRB- ` HOW TO EAT FRIED WORMS ' ...       NA
pos   -LRB- Holden -RRB- ` HOW TO EAT FRIED WORMS ' ...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000d0068
name                                  Holden
pos                                  [6, 12]

                                           t
id    /guid/9202a8c04000641f8000000006f8bfa6
name                              Bob Dolman
pos                               [158, 168]
                                                   text relation  \
id    A consortium of five Asian companies and a uni...       NA
name  A consortium of five Asian companies and a uni...       NA
pos   A consortium of five Asian companies and a uni...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000d03b3f
name                                   Asian
pos                                 [21, 26]

                                           t
id    /guid/9202a8c04000641f800000000000a424
name                                 Beijing
pos                               [199, 206]
                                                   text relation  \
id    The London flagship sells capsule collections ...       NA
name  The London flagship sells capsule collections ...       NA
pos   The London flagship sells capsule collections ...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000005d531d
name                           Zandra Rhodes
pos                                [98, 111]

                                           t
id    /guid/9202a8c04000641f80000000000242b2
name                                  London
pos                                  [4, 10]
                                                   text relation  \
id    Footnotes Jeff Daniels will receive the first ...       NA
name  Footnotes Jeff Daniels will receive the first ...       NA
pos   Footnotes Jeff Daniels will receive the first ...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000086cc7
name                           Michael Moore
pos                                 [74, 87]

                                           t
id    /guid/9202a8c04000641f8000000000338a2d
name                            Jeff Daniels
pos                                 [10, 22]
                                                   text relation  \
id    Joanie will be forever in the hearts of her ad...       NA
name  Joanie will be forever in the hearts of her ad...       NA
pos   Joanie will be forever in the hearts of her ad...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000008ae6b77
name                                Nicholas
pos                               [116, 124]

                                           t
id    /guid/9202a8c04000641f80000000088c8951
name                                  Cassia
pos                               [137, 143]
                                                   text relation  \
id    Happily , I saw the best film of the year in N...       NA
name  Happily , I saw the best film of the year in N...       NA
pos   Happily , I saw the best film of the year in N...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000054dd5d
name                                New York
pos                                 [45, 53]

                                           t
id    /guid/9202a8c04000641f8000000007bbdb8f
name                         Bruce Goldstein
pos                               [261, 276]
                                                   text relation  \
id    Driving around Long Island in a hatchback Hond...       NA
name  Driving around Long Island in a hatchback Hond...       NA
pos   Driving around Long Island in a hatchback Hond...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000074436a
name                                   Honda
pos                                 [42, 47]

                                           t
id    /guid/9202a8c04000641f8000000000025072
name                             Long Island
pos                                 [15, 26]
                                                   text relation  \
id    Pan Am 103 was a Boeing 747 en route to New Yo...       NA
name  Pan Am 103 was a Boeing 747 en route to New Yo...       NA
pos   Pan Am 103 was a Boeing 747 en route to New Yo...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000242b2
name                                  London
pos                                 [54, 60]

                                           t
id    /guid/9202a8c04000641f8000000000009d0e
name                                  Boeing
pos                                 [17, 23]
                                                   text relation  \
id    Hank Aaron , Johnny Bench , Frank Robinson , H...       NA
name  Hank Aaron , Johnny Bench , Frank Robinson , H...       NA
pos   Hank Aaron , Johnny Bench , Frank Robinson , H...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000001d91d
name                              Hank Aaron
pos                                  [0, 10]

                                           t
id    /guid/9202a8c04000641f80000000000571d3
name                          Frank Robinson
pos                                 [28, 42]
                                                   text relation  \
id    We extend our deepest condolences to Bert 's w...       NA
name  We extend our deepest condolences to Bert 's w...       NA
pos   We extend our deepest condolences to Bert 's w...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000088d50c3
name                                   Ellen
pos                                [95, 100]

                                           t
id    /guid/9202a8c04000641f8000000000100069
name                                  Justin
pos                               [196, 202]
                                                   text relation  \
id    But now one of his brothers , Richard B. Pelze...       NA
name  But now one of his brothers , Richard B. Pelze...       NA
pos   But now one of his brothers , Richard B. Pelze...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000fc5fc
name                                  Pelzer
pos                                 [41, 47]

                                           t
id    /guid/9202a8c04000641f800000000892953f
name                                 Richard
pos                                 [30, 37]
                                                   text relation  \
id    FOR many in the state , part of the intrigue s...       NA
name  FOR many in the state , part of the intrigue s...       NA
pos   FOR many in the state , part of the intrigue s...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000186285
name               University of Connecticut
pos                               [115, 140]

                                           t
id    /guid/9202a8c04000641f800000000002a7b0
name                National Football League
pos                                 [61, 85]
                                                   text relation  \
id    Loving , caring father to Essie and Marty , Ga...       NA
name  Loving , caring father to Essie and Marty , Ga...       NA
pos   Loving , caring father to Essie and Marty , Ga...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000892511d
name                                   Essie
pos                                 [26, 31]

                                           t
id    /guid/9202a8c04000641f800000000001a822
name                                    Gary
pos                                 [44, 48]
                                                   text relation  \
id    So , Warner 's French marketing team came up w...       NA
name  So , Warner 's French marketing team came up w...       NA
pos   So , Warner 's French marketing team came up w...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000063bf3d
name                              Clark Kent
pos                               [104, 114]

                                           t
id    /guid/9202a8c04000641f8000000008a04b94
name                                  French
pos                                 [15, 21]
                                                   text relation  \
id    In January , a sibling Arnold agency , MPG , l...       NA
name  In January , a sibling Arnold agency , MPG , l...       NA
pos   In January , a sibling Arnold agency , MPG , l...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000ce52c
name                                  Arnold
pos                                 [23, 29]

                                           t
id    /guid/9202a8c04000641f8000000000b65a5e
name                       Grey Global Group
pos                               [182, 199]
                                                   text relation  \
id    The Westchester County district attorney , Jea...       NA
name  The Westchester County district attorney , Jea...       NA
pos   The Westchester County district attorney , Jea...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000073e496
name                           Jeanine Pirro
pos                                 [43, 56]

                                           t
id    /guid/9202a8c04000641f8000000000131f91
name                             Al Sharpton
pos                                 [88, 99]
                                                   text relation  \
id    Saban met with Williams before the game and ex...       NA
name  Saban met with Williams before the game and ex...       NA
pos   Saban met with Williams before the game and ex...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000b5443
name                                Williams
pos                                 [15, 23]

                                           t
id    /guid/9202a8c04000641f8000000000842257
name                                   Saban
pos                                   [0, 5]
                                                   text relation  \
id    Saban had his defensive players '' butt '' -LR...       NA
name  Saban had his defensive players '' butt '' -LR...       NA
pos   Saban had his defensive players '' butt '' -LR...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000000b5443
name                                Williams
pos                                 [83, 91]

                                           t
id    /guid/9202a8c04000641f8000000000842257
name                                   Saban
pos                                   [0, 5]
                                                   text relation  \
id    In his forthcoming book '' America 's Constitu...       NA
name  In his forthcoming book '' America 's Constitu...       NA
pos   In his forthcoming book '' America 's Constitu...       NA

                                           h  \
id    /guid/9202a8c04000641f80000000005d80ee
name                         Akhil Reed Amar
pos                               [100, 115]

                                           t
id    /guid/9202a8c04000641f8000000008910a17
name                                 America
pos                                 [27, 34]
                                                   text relation  \
id    I KEENLY remember the excitement at the Suprem...       NA
name  I KEENLY remember the excitement at the Suprem...       NA
pos   I KEENLY remember the excitement at the Suprem...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000029d55d
name                          Potter Stewart
pos                               [182, 196]

                                           t
id    /guid/9202a8c04000641f80000000000558f3
name                     Sandra Day O'Connor
pos                               [128, 147]
                                                   text relation  \
id    General Dempsey said the unspent money in the ...       NA
name  General Dempsey said the unspent money in the ...       NA
pos   General Dempsey said the unspent money in the ...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000c016c4
name                                    Iraq
pos                               [102, 106]

                                           t
id    /guid/9202a8c04000641f8000000008820216
name                                 Dempsey
pos                                  [8, 15]
                                                   text relation  \
id    During an organizational meeting last year in ...       NA
name  During an organizational meeting last year in ...       NA
pos   During an organizational meeting last year in ...       NA

                                           h  \
id    /guid/9202a8c04000641f8000000000568d20
name                            Lyle Overbay
pos                               [223, 235]

                                           t
id    /guid/9202a8c04000641f80000000004a0df9
name                             Brian Giles
pos                               [251, 262]
                                                   text relation  \
id    We begin in 1919 , as refugees from Odessa , f...       NA
name  We begin in 1919 , as refugees from Odessa , f...       NA
pos   We begin in 1919 , as refugees from Odessa , f...       NA

                                           h  \
id    /guid/9202a8c04000641f800000000006b675
name                                  Odessa
pos                                 [36, 42]

                                           t
id    /guid/9202a8c04000641f8000000000050a6b
name                            Thessaloniki
pos                                 [85, 97]

In [32]:
df.to_csv ("nyt10_test_NA2.csv")

In [29]:
tempjson = pd.read_json (line)
tempjson

,text,relation,h,t
id,The occasion was suitably exceptional : a reun...,NA,/guid/9202a8c04000641f8000000003221072,/guid/9202a8c04000641f80000000004cfd50
name,The occasion was suitably exceptional : a reun...,NA,Dave Holland,Barry Altschul
pos,The occasion was suitably exceptional : a reun...,NA,"[90, 102]","[115, 129]"

In [2]:
pip install -U sentence-transformers

Collecting sentence-transformers
  Using cached sentence-transformers-0.2.6.2.tar.gz (60 kB)
Collecting transformers==2.11.0
  Using cached transformers-2.11.0-py3-none-any.whl (674 kB)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\cheny\.conda\envs\pytorch3d\lib\site-packages (from sentence-transformers) (4.46.0)
Note: you may need to restart the kernel to use updated packages.
ERROR: Could not find a version that satisfies the requirement torch>=1.0.1 (from sentence-transformers) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch>=1.0.1 (from sentence-transformers)

In [1]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-nli-mean-tokens')

ModuleNotFoundError: No module named 'sentence_transformers'

In [3]:
import sentence-transformer

SyntaxError: invalid syntax (<ipython-input-3-bbb9da3c0abb>, line 1)

In [ ]:
import pandas as pd
with open("nyt10_val_NA.txt", 'r', encoding = 'utf-8') as f:
    df = pd.DataFrame(columns=["text","relation","h","t"])
    for line in f.readlines():
        temp = pd.read_json (line)
        df = df.append(temp)
        print(temp)
# df.to_csv ("nyt10_test_NA.csv", index = None)
df.to_csv ("nyt10_val_NA.csv")

In [5]:
import pandas as pd
with open("nyt10_train_no_na.txt", 'r', encoding = 'utf-8') as f:
    df = pd.DataFrame(columns=["text","relation","h","t"])
    for line in f.readlines():
        temp = pd.read_json (line)
        df = df.append(temp)
        # print(temp)
# df.to_csv ("nyt10_test_NA.csv", index = None)
df.to_csv ("nyt10_train_no_na.csv")

lation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    35th Avenue at 36th Street , Astoria , Queens ...
name  35th Avenue at 36th Street , Astoria , Queens ...
pos   35th Avenue at 36th Street , Astoria , Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    35th Avenue at 36th Street , Astoria , Queens ...
name  35th Avenue at 36th Street , Astoria , Queens ...
pos   35th Avenue at 36th Street , Astoria , Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
name  MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
pos   MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [49, 56]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [59, 65]
                                                   text  \
id    MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
name  MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
pos   MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [66, 73]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [76, 82]
                                                   text  \
id    Edith Asibey Astoria , Queens , July 24 , 2006...
name  Edith Asibey Astoria , Queens , July 24 , 2006...
pos   Edith Asibey Astoria , Queens , July 24 , 2006...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [13, 20]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [23, 29]
                                                   text  \
id    Mr. Arroyo does not have a waterfront home -- ...
name  Mr. Arroyo does not have a waterfront home -- ...
pos   Mr. Arroyo does not have a waterfront home -- ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [134, 141]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [144, 150]
                                                   text  \
id    Clare M. Cusack and Assemblyman Michael N. Gia...
name  Clare M. Cusack and Assemblyman Michael N. Gia...
pos   Clare M. Cusack and Assemblyman Michael N. Gia...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [142, 149]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [152, 158]
                                                   text  \
id    The new hotbeds of affordable innovative cuisi...
name  The new hotbeds of affordable innovative cuisi...
pos   The new hotbeds of affordable innovative cuisi...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [129, 136]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [140, 146]
                                                   text  \
id    Rasheda Khanam , a bakery clerk in Manhattan ,...
name  Rasheda Khanam , a bakery clerk in Manhattan ,...
pos   Rasheda Khanam , a bakery clerk in Manhattan ,...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [176, 183]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [186, 192]
                                                   text  \
id    35th Avenue at 36th Street , Astoria , Queens ...
name  35th Avenue at 36th Street , Astoria , Queens ...
pos   35th Avenue at 36th Street , Astoria , Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    35th Avenue at 36th Street , Astoria , Queens ...
name  35th Avenue at 36th Street , Astoria , Queens ...
pos   35th Avenue at 36th Street , Astoria , Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    Museum of the Moving Image , 36-01 35th Avenue...
name  Museum of the Moving Image , 36-01 35th Avenue...
pos   Museum of the Moving Image , 36-01 35th Avenue...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [49, 56]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [59, 65]
                                                   text  \
id    But last month , Ms. Oummih felt compelled ins...
name  But last month , Ms. Oummih felt compelled ins...
pos   But last month , Ms. Oummih felt compelled ins...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [108, 115]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [118, 124]
                                                   text  \
id    At 35th Avenue at 36th Street , Astoria , Quee...
name  At 35th Avenue at 36th Street , Astoria , Quee...
pos   At 35th Avenue at 36th Street , Astoria , Quee...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [32, 39]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [42, 48]
                                                   text  \
id    The Gomeses live in a one-bedroom apartment in...
name  The Gomeses live in a one-bedroom apartment in...
pos   The Gomeses live in a one-bedroom apartment in...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [47, 54]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [57, 63]
                                                   text  \
id    -LRB- Museum of the Moving Image , 35th Avenue...
name  -LRB- Museum of the Moving Image , 35th Avenue...
pos   -LRB- Museum of the Moving Image , 35th Avenue...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [64, 71]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [74, 80]
                                                   text  \
id    36-01 35th Avenue , at 36th Street , Astoria ,...
name  36-01 35th Avenue , at 36th Street , Astoria ,...
pos   36-01 35th Avenue , at 36th Street , Astoria ,...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [37, 44]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [47, 53]
                                                   text  \
id    In addition , it has helped found 17 '' daught...
name  In addition , it has helped found 17 '' daught...
pos   In addition , it has helped found 17 '' daught...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [159, 166]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [169, 175]
                                                   text  \
id    The bride 's father is a construction worker w...
name  The bride 's father is a construction worker w...
pos   The bride 's father is a construction worker w...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                [94, 101]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [104, 110]
                                                   text  \
id    35th Avenue at 36th Street , Astoria , Queens ...
name  35th Avenue at 36th Street , Astoria , Queens ...
pos   35th Avenue at 36th Street , Astoria , Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [29, 36]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    The moussaka and octopus were excellent , and ...
name  The moussaka and octopus were excellent , and ...
pos   The moussaka and octopus were excellent , and ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [76, 83]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [86, 92]
                                                   text  \
id    After pleas and bitter complaints from Queens ...
name  After pleas and bitter complaints from Queens ...
pos   After pleas and bitter complaints from Queens ...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [132, 139]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [39, 45]
                                                   text  \
id    Lately , Mr. Reyes 's clientele has expanded t...
name  Lately , Mr. Reyes 's clientele has expanded t...
pos   Lately , Mr. Reyes 's clientele has expanded t...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                               [223, 230]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                               [233, 239]
                                                   text  \
id    MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
name  MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...
pos   MUSEUM OF THE MOVING IMAGE , 36-01 35th Avenue...

                                    relation  \
id    /location/neighborhood/neighborhood_of
name  /location/neighborhood/neighborhood_of
pos   /location/neighborhood/neighborhood_of

                                           h  \
id    /guid/9202a8c04000641f80000000001b2f9f
name                                 Astoria
pos                                 [49, 56]

                                           t
id    /guid/9202a8c04000641f800000000005af5c
name                                  Queens
pos                                 [59, 65]

KeyboardInterrupt:

In [4]:
df

,type,text,relation,h,t
id,NaN,Not many people have cooler family closets to ...,/people/person/children,/guid/9202a8c04000641f8000000000dad102,/guid/9202a8c04000641f8000000000d4eb59
name,NaN,Not many people have cooler family closets to ...,/people/person/children,Patti Hansen,Theodora Richards
pos,NaN,Not many people have cooler family closets to ...,/people/person/children,"[161, 173]","[56, 73]"
id,NaN,"This month Mathew Knowles , father of Beyonc ...",/people/person/children,/guid/9202a8c04000641f800000000055f663,/guid/9202a8c04000641f80000000033ad8f8
name,NaN,"This month Mathew Knowles , father of Beyonc ...",/people/person/children,Mathew Knowles,Beyonc
...,...,...,...,...,...
name,NaN,"In Barcelona , Spain , the 1992 Games helped r...",/location/administrative_division/country,Barcelona,Spain
pos,NaN,"In Barcelona , Spain , the 1992 Games helped r...",/location/administrative_division/country,"[3, 12]","[15, 20]"
id,NaN,"It was 1996 , and he had arrived in New York a...",/location/administrative_division/country,/guid/9202a8c04000641f800000000000b4c2,/guid/9202a8c04000641f8000000000034e30
name,NaN,"It was 1996 , and he had arrived in New York a...",/location/administrative_division/country,Barcelona,Spain
pos,NaN,"It was 1996 , and he had arrived in New York a...",/location/administrative_division/country,"[150, 159]","[65, 70]"